@charset "UTF-8";
/*----------------Common Codes----------------*/
html {
    font-size: 100%;
}
body {
    color: #24292e;
    background-color: rgb(255, 255, 255);
    font-family: 'Meiryo', sans-serif;
    font-size: 0.9rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding:0 4%;
    text-align: center;
}

.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 65px;
    font-weight: normal;
}

/*---------------- header ----------------*/
#header .logo {
    width: 120px;
    line-height: 2px;
    height: 36px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: o auto;
    margin-top: 110px;
}

#header ul{
    display: flex;

}

#header li {
    margin-left: 30px;
}

#header li a{
    color: #24292E;
}

#header img {
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

#header a:hover,img:hover {
    opacity: 0.7;
}

/*---------------- Mein-Visual ----------------*/
.mainvisual {
    margin-bottom: 80px;
}

.mainvisual img{
    width: 100%;
    height: 420px;
    max-width: 1920px;
    object-fit: cover;
}

/*---------------- About ----------------*/
#about li {
    text-align: left;
    line-height: 20px;
    font-size: 1rem;
}

#about .name {
    margin-bottom: 30px;
}

#about p {
    margin-top: 30px;
    text-align: left;
    font-size: 1rem;

}

/*---------------- Works ----------------*/
#works ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#works li {
    width: 264px;
    margin-top: 23px;
}

/*----------------  News ----------------*/
#news .sub-menu {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px #c8c8c8;
    margin-bottom: 20px;
    line-height: 20px;
}

#news dt {
    border-bottom: solid 1px #c8c8c8;
    width: 20%;
    padding: 15px;
    text-align: left;
}

#news dd {
    border-bottom: solid 1px #c8c8c8;
    width: 80%;
    text-align: left;
    padding: 15px;
}

/*----------------  Contact ----------------*/
#contact dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#contact dt {
    width: 15%;
    text-align: left;
}

#contact dd {
    width: 85%;
    margin-bottom: 10px;
}

#contact dd input, #contact dd textarea {
    width: 100%;
    border: solid 1px #c8c8c8;
    padding: 10px;
}

#contact dd textarea {
    height: 10rem;
}

#contact .button {
    text-align: center;
}

input[type="submit"] {
    width: 200px;
    background-color: #24292E;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292E;
}

input[type="submit"]:hover {
    background: #fff;
    color: #24292E;
}

/*----------------  Footer ----------------*/

footer {
    background-color: #24292E;
    color:#fff;
    line-height: 2rem;
    text-align: center;
    font-size: 0.5rem;
    margin-top: 130px;
}



/*---------------- SP ----------------*/
/*--------------------------------------------------------------------*/

@media screen and (max-width: 600px) {

.wrapper {
        margin-bottom: 70px;
    }
    
.section-title {
    margin-bottom: 40px;
} 

/*---------------- header ----------------*/
header {
    flex-direction: column;
    height: auto;
    max-width: 100%;
}

#header .logo {
    margin-top: 20px;
}

#header li {
    font-size: 0.8 rem;
    margin-left: 20px;
}

#header li:first-child {
    margin-left: 0;
}

.mainvisual {
    width: 100%;
}

/*---------------- Works ----------------*/
#works ul {
    flex-direction: column;
}

#works li {
    width: 100%;
}

/*---------------- News ----------------*/
#news dl {
    flex-direction: column;
}

#news dt {
    width: 100%;
    border-bottom: none;
    padding-bottom: 0;
}

#news dd {
    width: 100%;
    padding-top: 0;
}

/*---------------- Contact ----------------*/
#contact dl{
    flex-direction: column;
}

#contact dt {
    width: 100%;
}

#contact dd {
    width: 100%;
}

}